<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Menu Selection</title>
  </head>
  <body>
    <h1>Menu Selection</h1>


    <div ng-controller='NarrowItDownController as menu'>
      <h3>Enter Your Search Term</h3>
      <input type="text" ng-model="menu.searchTerm" > </input>
      <input type="button" value="Narrow It Down" ng-click ="menu.getMatchedMenuItems(menu.searchTerm)")></input>
      <p>
        <found-items ng-repeat="category in menu.categories"></found-items>
      </ul>
    </p>
    </div>

  </body>
</html>
