
/**********Imported from Lecture 24 example **********/
* {
  box-sizing: border-box;
  font-family: Helvetica;
}
body {font-size: 16px;
}
h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.75em
}
h2 {
    text-align: left;
  margin-bottom: 15px;
  font-size: 1.5em;
  visibility: hidden;
}

p {
  padding-top: 18px;
}

.itembox {
  border: 1px solid black;
  background-color: yellow;
  height: 200px;
  position: relative;
  color: black;
  padding-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden; 
  
}
.itembox:hover {
  overflow: auto;
  cursor:ns-resize;
}

.itemtitle {
  font-size: 1.25em;
  border: 1px solid black;
  text-align: center;
  background-color: #00ffff;
  position: absolute;
  top: 2px;
  right: 2px;
  
}
.mobile-itemtitle{
  visibility: hidden;
  position: absolute;
  top: 2px;
  left: 0px;
  font-size: 1.25em;
  border: 1px solid black;
  width: 100%;
  background-color: #00ffff;
}

.seconditem {
   background-color: #00f000;
}

.thirditem {
   background-color: #f00fff;
}

.meniitems {
  position: relative;
  top:10px;
  margin-top: 10px;
}

/* Borrowed from Simple Responsive Framework. */
.row {
  width: 100%;
  margin: 5px;
}



/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 1px solid green;
    width: 31%;
  }
  .itemtitle {
    width: 90px;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid red;
  }
  .col-md-6 {
    width: 48%;
  }
  .col-md-12 {
    width: 97%;
  }
  .itemtitle {
    width: 90px;
  }
}
/**********mobile devices**************/
@media (max-width: 767px) {
  .col-sd-12 {
    float: both;
    border: 1px solid blue;
    width: 100%;
  }
  .itemtitle {
    visibility: hidden;
  }
  #bigtitle {
    visibility: hidden;
    
      }
  #smalltitle {
    visibility: visible;
    font-family: Times;
    position: absolute;
    top: 0px;
    left:0px; 
  }
  .mobile-itemtitle {
    position: relative;
  visibility: visible;
  }
}
